<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment.html::head"></head>
<body class="bg-light">
<div class="container">
    <div class="row mt-5">
        <div class="card">
            <div class="card-body mt-5">

                <h2 class="card-title mb-5">새로운 게시글</h2>
                <form action="#" th:action="@{/post/new}" method="post" th:object="${postForm}">

                    <div class="row d-flex justify-content-end">
                        <div class="col-3">
                            <div class="form-group">
                                <label for="writer" class="form-label">작성자</label>
                                <input id="writer" type="text" class="form-control" placeholder="작성자" th:field="*{writer}" required>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('writer')}" th:errors="*{writer}"></small>
                            </div>

                            <div class="form-group">
                                <label for="password" class="form-label">비밀번호</label>
                                <input id="password" type="password" class="form-control" placeholder="작성자" th:field="*{password}" required>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-2">
                        <label for="title" class="form-label">제목을 입력해주세요.</label>
                        <input id="title" type="text" class="form-control" placeholder="제목을 입력해주세요." th:field="*{title}" required>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></small>
                    </div>

                    <div class="form-group mb-2">
                        <label for="content" class="form-label">내용을 입력해주세요.</label>
                        <textarea id="content" class="form-control" placeholder="내용을 입력해주세요." th:field="*{content}"
                                  required></textarea>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></small>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">작성하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
<script th:replace="fragment.html::uiScript"></script>
</html>