<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment.html::head"></head>
<body class="bg-light">
<div class="container">
    <div class="row mt-5">
        <div class="card">
            <div class="card-body mt-5">

                <h2 class="card-title mb-5" th:text="${postViewDto.title}">게시글 제목</h2>
                <h5 class="card-title" th:text="${postViewDto.writer}">작성자</h5>
                <p class="card-text text-end"
                   th:text="${#temporals.format(postViewDto.createdAt, 'yyyy-MM-dd hh:mm:ss') + '에 작성됨'}"></p>
                <textarea class="card-text form-control" th:text="${postViewDto.content}" readonly>게시글 내용</textarea>
                <div class="text-end">
                    <form class="form-inline" th:method="delete" action="#"
                          th:action="@{/post/delete/{id}(id=${postViewDto.id})}">
                        <a class="btn btn-primary mt-2" href="#"
                           th:href="@{/post/edit/{id}(id=${postViewDto.id})}">수정하기</a>
                        <button type="submit" class="btn btn-danger mt-2" >삭제하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="card">
            <div class="card-body">
                <form action="#" th:action="@{/comment/new}" method="post" th:object="${commentForm}">
                    <input type="hidden" th:value="${postViewDto.id}" name="postId" id="postId"/>

                    <div class="col-2 form-group">
                        <label for="writer">작성자</label>
                        <input id="writer" class="form-control" type="text" th:field="*{writer}"/>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('writer')}"
                               th:errors="*{writer}"></small>
                    </div>

                    <div class="form-group">
                        <label for="content">내용</label>
                        <textarea id="content" class="form-control" th:field="*{content}"></textarea>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('content')}"
                               th:errors="*{content}"></small>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary mt-2">댓글달기</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <ul th:each="comment : ${postViewDto.commentList}">
                    <p class="card-title" th:text="${comment.writer}">댓글 작성자</p>
                    <p class="card-text text-end"
                       th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd hh:mm:ss') + '에 작성됨'}"></p>
                    <textarea class="card-text form-control"
                              th:text="${comment.content == null ? '삭제된 댓글입니다.' : comment.content}" readonly></textarea>
                    <div class="text-end" th:if="${comment.content != null}">
                        <form class="form-inline" th:method="delete" action="#"
                              th:action="@{/comment/delete/{id}(id=${comment.id})}">
                            <a class="btn btn-primary mt-2" href="#"
                               th:href="@{/comment/edit/{id}(id=${comment.id})}">수정하기</a>
                            <button type="submit" class="btn btn-danger mt-2">삭제하기</button>
                        </form>
                    </div>
                    <hr/>
                </ul>
            </div>
        </div>
    </div>
</div>


</body>
<script th:replace="fragment.html::uiScript"></script>
</html>